// Filter button
.filter-btn {
    display: flex;
    align-items: center;
    gap: 14px;

    padding: 0 14px;
    color: var(--filter-btn-color);
    background: var(--filter-btn-bg);
    border-radius: 6px;
    height: 36px;
    font-weight: 500;
    line-height: 150%;
}

// Like btn
.like-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 20px 60px rgba(124, 124, 124, 0.2);

    &:not(&-liked) &__icon--liked {
        display: none;
    }

    &-liked &__icon {
        display: none;
    }

    &__icon--liked {
        margin-top: 6px;
    }
}

// Button
.btn {
    --height-btn: 46px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    height: var(--height-btn);
    padding: 0 20px;
    border-radius: 6px;
    font-size: 1.8rem;
    font-weight: 500;
    white-space: nowrap;
    user-select: none;
    background: #f8f8fb;

    &--small {
        --height-btn: 40px;
        padding: 0 16px;
    }

    + .btn {
        &:not(.btn--no-margin) {
            margin-left: 20px;
        }
    }

    &--text {
        font-weight: 400;
        background: transparent;
    }

    &--primary {
        color: #1a162e;
        background: #ffb700;
    }

    &--outline {
        background: transparent;
        border: 1px solid #d2d1d6;
    }

    &--rounded {
        border-radius: 99px;
    }

    &[disabled],
    &--disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    &:hover {
        opacity: 0.9;
    }
}
